@import "../../bower_components/less-elements/elements.less";

/* Variables
 -------------------------------- */
@strong-font: black;
@accent: black;

/* Layout
 -------------------------------- */
header {
  .gnb.navbar {
    background-color: @accent;
    div.search {
      width: 200px;
    }

    .account-login-dropdown {
      width: 230px;
      padding: 10px;
      hr {
        margin-top: 0;
      }
      .input-group {
        .input-group-addon {
          width: 40px;
        }
        margin-bottom: 8px;
      }
    }

    li img.account {
      margin: 10px;
      width: 30px;
    }
    margin-bottom: 0;
  }
}

.jumbotron {
  h1 {
    letter-spacing: -2px;
  }
}

.content {
  background-color: lighten(@accent, 20%);
  width: 100%;
  .lnb.navbar {
    p.board-title {
      color: @strong-font;
      font-weight: bold;
    }
  }
  .board {
    /* compute width according to window size */
    height: 750px;
    overflow-x: auto;

    /* drag effect */
    .ondrag {
      .rotation(5deg);
    }

    .cardlist-area>div {
      float: left;
    }

    .cardlist {
      @list-bg: #ddd;
      position: relative;
      margin-left: 10px;
      min-width: 300px;

      &.panel-list {
        background-color: @list-bg;
        border: none;

        /* cardlist-header */
        .cardlist-header {
          cursor: pointer;
        }

        /* card-area */
        .card-area {
          min-height: 30px;
          margin: 5px;

          /* common card and card-composer */
          .card {
            width: 100%;
            .rounded(4px);
            border: 1px solid gray;
            background-color: white;
            margin-bottom: 10px;
            .card-title {
              margin: 10px;
            }
            .card-badge {
              margin: 10px;
              button {
                color: gray;
              }
            }

            &:hover {
              cursor: pointer;
              border-color: green;
            }

            &.card-placeholder {
              background-color: lighten(@accent, 60%);
              height: 70px;
            }
          }

        }
        .cardlist-card-composer {
          margin: 5px;
          /* card-composer */
          .card-composer {
            width: 100%;
            .rounded(4px);
            border: 1px solid gray;
            background-color: white;
            margin-bottom: 10px;

            textarea.card-composer-title {
              width: 100%;
              height: 54px;
              padding: 10px;
              background: none;
              border: none;
              .box-shadow(none);
              resize: vertical;
              overflow-y: auto;
            }
          }

          .card-control {
            .btn-cancel {
              font-size: 18px;
              color: gray;
              &:hover {
                color: black;
              }
            }
          }

        }

        /* cardlist-add-card btn and list-add-list btn */
        .cardlist-add-card, .cardlist-add-list {
          padding: 5px;
          color: gray;
          &.hide {
            display: none;
          }
          &:hover {
            background-color: darken(@list-bg, 10%);
            cursor: pointer;
            .rounded(5px);
          }
        }
      }
      &.panel-add-list {
        float: left;
        opacity: 0.6;
      }
      &.cardlist-placeholder {
        background-color: lighten(@accent, 60%);
        height: 250px;
        .rounded(5px);
      }
    }
  }
}
