/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Variables
 -------------------------------- */
/* Layout
 -------------------------------- */
header .gnb.navbar {
  background-color: #000000;
  margin-bottom: 0;
}
header .gnb.navbar div.search {
  width: 200px;
}
header .gnb.navbar li img.account {
  margin: 10px;
  width: 30px;
}
.content {
  background-color: #333333;
  width: 100%;
}
.content .lnb.navbar p.board-title {
  color: #000000;
  font-weight: bold;
}
.content .board {
  /* compute width according to window size */

  height: 750px;
  overflow-x: auto;
  /* drag effect */

}
.content .board .ondrag {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.content .board .list {
  float: left;
  position: relative;
  margin-left: 10px;
  min-width: 300px;
}
.content .board .list.panel-list {
  background-color: #dddddd;
  border: none;
  /* list-card-area */

  /* list-add-card btn and list-add-list btn */

}
.content .board .list.panel-list .list-card-area {
  min-height: 30px;
  margin: 5px;
  /* common card and card-composer */

  /* card */

}
.content .board .list.panel-list .list-card-area .card {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: white;
  margin-bottom: 10px;
}
.content .board .list.panel-list .list-card-area .card .card-title {
  margin: 10px;
}
.content .board .list.panel-list .list-card-area .card .card-badge {
  margin: 10px;
}
.content .board .list.panel-list .list-card-area .card .card-badge button {
  color: gray;
}
.content .board .list.panel-list .list-card-area .card:hover {
  cursor: pointer;
  border-color: green;
}
.content .board .list.panel-list .list-card-area .card.card-placeholder {
  background-color: #999999;
  height: 70px;
}
.content .board .list.panel-list .list-card-composer {
  margin: 5px;
  /* card-composer */

}
.content .board .list.panel-list .list-card-composer .card-composer {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: white;
  margin-bottom: 10px;
}
.content .board .list.panel-list .list-card-composer .card-composer textarea.card-composer-title {
  width: 100%;
  height: 54px;
  padding: 10px;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: vertical;
  overflow-y: auto;
}
.content .board .list.panel-list .list-card-composer .card-control .btn-cancel {
  font-size: 18px;
  color: gray;
}
.content .board .list.panel-list .list-card-composer .card-control .btn-cancel:hover {
  color: black;
}
.content .board .list.panel-list .list-add-card,
.content .board .list.panel-list .list-add-list {
  padding: 5px;
  color: gray;
}
.content .board .list.panel-list .list-add-card.hide,
.content .board .list.panel-list .list-add-list.hide {
  display: none;
}
.content .board .list.panel-list .list-add-card:hover,
.content .board .list.panel-list .list-add-list:hover {
  background-color: #c4c4c4;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .board .list.panel-add-list {
  opacity: 0.6;
}
